/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0e8d9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 gmp-map {
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d1c3b0;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-container input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.login-container button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #a6885d;
  color: white;
  border: none;
  cursor: pointer;
}

.info-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: none;
}

h1, h2 {
  color: #a6885d;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: #777;
}