.infoContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .title, .subtitle {
    color: #a6885d;
  }
  
  .hotels, .weather, .restaurants, .schedule {
    margin-bottom: 2rem;
  }
  
  .hotels h2, .weather h2, .restaurants h2, .schedule h2 {
    color: #a6885d;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .listItem {
    margin-bottom: 0.5rem;
  }
  
  .footer {
    text-align: center;
    margin-top: 2rem;
    color: #777;
  }
  