@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0e8d9;
  color: #333;
  margin: 0;
  padding: 0;
}